<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>class-posinto-fixed-01</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .container p {
            font-size: 10px;
            line-height: 10em;
        }
        a.btn-top {
            border: 1px solid gray;
            color: #000;
            width: 30px;
            height: 30px;
            display: block;
            text-align: center;
            line-height: 30px;
            border-radius: 50%;
            position: fixed;
            right: 20px;
            bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Position: fixed;</h1>
        <p>
            정치인이나 유명 인사의 코로나19 방역수칙 무시 등에서 비교적 청정지역으로 꼽혔던 홍콩에서 '내로남불' 생일파티의 파장이 일파만파로 커지고 있다. 캐리 람 홍콩 행정장관의 정치생명이 위태로울 수 있다는 관측도 나온다.
            8일 사우스차이나모닝포스트(SCMP) 등 홍콩 매체에 따르면 람 장관은 지난 7일 밤 성명을 통해 지난 3일 밤 완차이에서 열린 한 생일파티에 참석한 최고위 관료 13명이 21일간 정부 격리시설에 수용되며 이들의 업무는 즉각 중지된다고 발표했다.
            홍콩 보건당국은 전날 기자회견에서 이 파티에서 코로나19 확진자가 2명 나왔으며 이에 따라 참석자 170명 전원을 21일간 격리시설에 수용한다고 발표했다. 참석자의 가족도 나흘간 격리됐다.
            문제가 된 파티는 중국 전국인민대표대회(전인대) 홍콩 대표중 한 명인 위트먼 헝(洪民·53)의 생일을 축하하는 자리였다. 그는 홍콩과 중국 선전이 합작해 개발하는 첸하이(前海) 경제특구 홍콩연락사무소 대표이기도 하다.
            헝 등 많은 파티 참석자는 마스크를 쓰지 않은 채 노래를 부르고, 음식과 술을 먹는 모습을 찍은 사진이 소셜미디어를 통해 퍼져나갔다.
            이 파티에는 캐서퍼 추이(徐英偉) 민정사무국장(장관급)과 아우가왕(區嘉宏) 입경사무처장, 레이몬드 시우(蕭澤) 경무처장 등 최고위직 관료와 의원 20명이 참석했다.
            참석자 중 주니어스 호(何君堯) 의원은 파티 이틀 후 선전에서 중국 국무원 홍콩·마카오사무판공실 샤바오룽(夏寶龍) 주임이 주재한 회의에 참석해 파장이 더 커질 가능성도 있다.
            보건 당국은 "참석자가 밤늦게까지 종종 마스크를 벗은 채 먹고 마시면서 식당 내부를 돌아다녔다"면서 "이에 모든 참석자를 확진자와 밀접접촉한 사례로 분류해 격리시설에 수용하기로 했다"고 했다.
            대표적인 친중 인사가 주최하고 친중파 의원 20명이 참석한 파티에서 사달이 났음에도 친중 진영은 '남 탓'을 하고 있다.
            SCMP는 이날 "생일파티 스캔들에 대한 비판으로 캐리 람 행정장관의 정치적 운명을 둘러싼 의문이 제기되지만 친중 진영은 똘똘 뭉쳐 캐세이퍼시픽 항공 승무원에 비난의 화살을 돌리고 있다"고 보도했다. 홍콩에서 오미크론 변이의 지역감염이 해외 비행에서 돌아온 캐세이퍼시픽 항공 승무원들에게서 비롯됐다며 책임을 돌리고 있다는 것이다.
            신문은 "이번 사건은 람 행정부에 대한 신뢰에 또 하나의 타격이 됐다"고 평가했다.
            홍콩의 코로나19 누적 환자는 1만2865명이며, 이중 오미크론 변이 감염자는 223명이다. 김광태기자 ktkim@dt.co.kr
        </p>
    </div>
    <a class="btn-top" href=""><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
</body>
</html>