<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>class-boxmodel-border</title>
  <style>
    h1 {
      width: 200px;
      padding: 20px;
      margin: 20px;

      border: 5px solid red;
      outline: 5px dashed blue;
      outline-offset: -10px;
    }

    b {
      border: 10px solid blue;
      padding: 20px;
      margin: 20px;
    }
  </style>
</head>
<body>
  <h1>Hello, World</h1>
  <br>
  <b>Hello, World</b>
</body>
</html>